{include file='public/head'}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="">条幅管理</a><span class="crumb-step">&gt;</span><span>新增条幅</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:url('banner/doAdd')}" enctype="multipart/form-data" method="post">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120px">地址：</th>
                                <td>
                                    <input class="common-text required" name="url"  size="50" value="www.shop.com" type="text">
                                </td>
                            </tr>
                             <tr>
                                <th>类型：</th>
                                <td><input class="common-text required" name="status" size="50" type="text"></td>
                            </tr>
                            <tr>
                                <th></i>缩略图：</th>
                                <td><input name="img" id="" type="file"><!--<input type="submit" onclick="submitForm('/js__ADMIN__/admin/design/upload')" value="上传图片"/>--></td>
                            </tr>
                     
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
</body>
</html>